##Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'col1':[1,2,3,4,5],'col2':['abc','bcd','cde','dcf','efg']})
df

   col1 col2
0     1  abc
1     2  bcd
2     3  cde
3     4  dcf
4     5  efg

In [43]:
df=pd.read_csv("/content/jsonoutput.csv")
df.head()

,gender,age,gross_income,segment,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,num_loans,duration
0,M,21 years,$ 79070.91,Individuals,0,I,0,1,0,1035
1,M,23 years,$ 178270.68,College_Graduated,0,I,0,1,0,1097
2,M,24 years,$ 31243.56,College_Graduated,0,I,1,1,0,1866
3,M,24 years,$ 130740.54,College_Graduated,0,I,0,1,0,1440
4,M,31 years,$ 112975.17,Individuals,0,I,0,0,0,376

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54030 entries, 0 to 54029
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 54030 non-null  object
 1   age                    54030 non-null  object
 2   gross_income           54030 non-null  object
 3   segment                54030 non-null  object
 4   num_credit_cards       54030 non-null  int64
 5   tiprel_1mes            54030 non-null  object
 6   ind_actividad_cliente  54030 non-null  int64
 7   num_Products           54030 non-null  int64
 8   num_loans              54030 non-null  int64
 9   duration               54030 non-null  int64
dtypes: int64(5), object(5)
memory usage: 4.1+ MB

In [28]:
df.shape

(54030, 10)

In [29]:
for row in range(df.shape[0]):
  print(df.loc[row,'gross_income'])
  break

$ 79070.91

In [30]:
for row in range(df.shape[0]):
  df.loc[row,'gross_income']=float(df.loc[row,'gross_income'].split(" ")[-1])

df

,gender,age,gross_income,segment,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,num_loans,duration
0,M,21 years,79070.91,Individuals,0,I,0,1,0,1035
1,M,23 years,178270.68,College_Graduated,0,I,0,1,0,1097
2,M,24 years,31243.56,College_Graduated,0,I,1,1,0,1866
3,M,24 years,130740.54,College_Graduated,0,I,0,1,0,1440
4,M,31 years,112975.17,Individuals,0,I,0,0,0,376
...,...,...,...,...,...,...,...,...,...,...
54025,M,24 years,47237.01,College_Graduated,0,I,1,1,0,1147
54026,F,46 years,106930.05,Individuals,1,A,1,8,0,6061
54027,M,24 years,185323.05,College_Graduated,0,I,0,0,0,1817
54028,F,27 years,65246.79,College_Graduated,0,I,0,1,0,1447
54029,M,20 years,180678.48,College_Graduated,0,A,0,1,0,366

In [15]:
a="$ 79070.91"

float(a.split(" ")[-1])

79070.91

In [33]:
df['gross_income']=df['gross_income'].apply(lambda x: float(x.split(" ")[-1]))  #using lambda function

In [34]:
df

,gender,age,gross_income,segment,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,num_loans,duration
0,M,21 years,79070.91,Individuals,0,I,0,1,0,1035
1,M,23 years,178270.68,College_Graduated,0,I,0,1,0,1097
2,M,24 years,31243.56,College_Graduated,0,I,1,1,0,1866
3,M,24 years,130740.54,College_Graduated,0,I,0,1,0,1440
4,M,31 years,112975.17,Individuals,0,I,0,0,0,376
...,...,...,...,...,...,...,...,...,...,...
54025,M,24 years,47237.01,College_Graduated,0,I,1,1,0,1147
54026,F,46 years,106930.05,Individuals,1,A,1,8,0,6061
54027,M,24 years,185323.05,College_Graduated,0,I,0,0,0,1817
54028,F,27 years,65246.79,College_Graduated,0,I,0,1,0,1447
54029,M,20 years,180678.48,College_Graduated,0,A,0,1,0,366

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54030 entries, 0 to 54029
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 54030 non-null  object
 1   age                    54030 non-null  object
 2   gross_income           54030 non-null  float64
 3   segment                54030 non-null  object
 4   num_credit_cards       54030 non-null  int64
 5   tiprel_1mes            54030 non-null  object
 6   ind_actividad_cliente  54030 non-null  int64
 7   num_Products           54030 non-null  int64
 8   num_loans              54030 non-null  int64
 9   duration               54030 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 4.1+ MB

In [39]:
df['gross_income']=df['gross_income'].apply(lambda x: x.split(" ")[-1])  #using lambda function

In [41]:
df['gross_income']=df['gross_income'].astype(float)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54030 entries, 0 to 54029
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 54030 non-null  object
 1   age                    54030 non-null  object
 2   gross_income           54030 non-null  float64
 3   segment                54030 non-null  object
 4   num_credit_cards       54030 non-null  int64
 5   tiprel_1mes            54030 non-null  object
 6   ind_actividad_cliente  54030 non-null  int64
 7   num_Products           54030 non-null  int64
 8   num_loans              54030 non-null  int64
 9   duration               54030 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 4.1+ MB

In [44]:
df['gross_income']=df.apply(lambda x: x['gross_income'].split(" ")[-1],axis=1)

In [45]:
df

,gender,age,gross_income,segment,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,num_loans,duration
0,M,21 years,79070.91,Individuals,0,I,0,1,0,1035
1,M,23 years,178270.68,College_Graduated,0,I,0,1,0,1097
2,M,24 years,31243.56,College_Graduated,0,I,1,1,0,1866
3,M,24 years,130740.54,College_Graduated,0,I,0,1,0,1440
4,M,31 years,112975.17,Individuals,0,I,0,0,0,376
...,...,...,...,...,...,...,...,...,...,...
54025,M,24 years,47237.01,College_Graduated,0,I,1,1,0,1147
54026,F,46 years,106930.05,Individuals,1,A,1,8,0,6061
54027,M,24 years,185323.05,College_Graduated,0,I,0,0,0,1817
54028,F,27 years,65246.79,College_Graduated,0,I,0,1,0,1447
54029,M,20 years,180678.48,College_Graduated,0,A,0,1,0,366

In [46]:
df2=df.drop(['segment','num_loans'],axis=1)
df2

,gender,age,gross_income,num_credit_cards,tiprel_1mes,ind_actividad_cliente,num_Products,duration
0,M,21 years,79070.91,0,I,0,1,1035
1,M,23 years,178270.68,0,I,0,1,1097
2,M,24 years,31243.56,0,I,1,1,1866
3,M,24 years,130740.54,0,I,0,1,1440
4,M,31 years,112975.17,0,I,0,0,376
...,...,...,...,...,...,...,...,...
54025,M,24 years,47237.01,0,I,1,1,1147
54026,F,46 years,106930.05,1,A,1,8,6061
54027,M,24 years,185323.05,0,I,0,0,1817
54028,F,27 years,65246.79,0,I,0,1,1447
54029,M,20 years,180678.48,0,A,0,1,366